<div id="all-campaign" class="tab-pane fade in <%= third %>">
  <h3>All Campaigns</h3>
  <% if @all_campaigns.any? %>
  	<%= render 'campaigns_table', campaigns: @all_campaigns %>
  <% else %>
  	<p>There is no campaign. Create by clicking on create button.</p>
  <% end %>
</div>